* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
  background-color: #f4f5fd;
  font-family: "PT Sans", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  color: #545454;
  line-height: 1.42;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  min-height: 100%;
}
#middle {
  -webkit-box-flex: 1;
  flex: 1 0 auto;
}

#footer {
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.wrapper {
  max-width: 1816px;
  margin: 0 auto;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

/* Header */

.header-content {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 25px;
}

.header-logo {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-logo img {
  max-width: 100%;
}
.header-mob-phone img {
  max-width: 25px;
}

/* .header .col-12 {
  height: 50%;
} */

.text a:hover {
  transition: all 0.3s ease;
  color: #fde037;
  text-decoration: underline;
  text-decoration-color: #fde037;
}

.form-serach form {
  position: relative;
  width: 80%;
}

.form-serach input,
.form-serach button {
  border: none;
  outline: none;
  border-radius: 15px;
}

.form-serach input {
  width: 100%;
  height: 63px;
  padding-left: 20px;
  padding-right: 55px;
  font-size: 20px;
}

.form-serach button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #fff;
  cursor: pointer;
}

.form-serach button::before {
  content: url(../images/icons/loupe.png);
}

.search-mob {
  display: none;
}

.header-place a {
  color: #c29a0d;
  text-decoration: none;
  border-bottom: 1px solid #c29a0d;
}

.header-contact a {
  color: #c29a0d;
  text-decoration: none;
  border-bottom: 1px solid #c29a0d;
}

.header-place input::placeholder:focus {
  color: transparent;
}
.form-serach input::placeholder {
  color: #96979b;
  font-size: 20px;
}

.header-time {
  display: inline-block;
}

.clock-content a:hover {
  transition: all 0.3s ease;
  color: #fde037;
  border-bottom: 1px solid #fde037;
}

.header-address {
  font-size: 20px;
}

.header-address-search {
  display: flex;
  padding-bottom: 25px;
}

.header-address img {
  width: 24px;
  height: 34px;
}

.header-address img:nth-of-type(2) {
  margin-left: 20px;
}

.header-address-text {
  display: flex;
  flex-direction: row;
  line-height: 1;
  padding-right: 40px;
  color: #77777b;
}

.header-address-text img {
  margin-right: 10px;
}

.header-input {
  width: 70%;
}

.header-operator {
  padding-left: 40px;
  color: #6c6c6f;
}

.clock-content {
  display: inline-block;
  position: relative;
  font-size: 20px;
  padding-left: 50px;
}

.clock-contet-img {
  position: absolute;
  padding-left: 10px;
  left: 0;
}

.clock-content-email {
  display: inline;
  vertical-align: middle;
}
.clock-img {
  position: absolute;
  left: 0;
  /* top: 50%; */
  /* transform: translate(0, -50%); */
  /* margin-bottom: -15px; */
}

.header-operator .img {
  display: inline-block;
}
.header-operator .number {
  font-size: 25px;
  display: inline-block;
  margin-bottom: 5px;
  position: relative;
  padding-left: 40px;
}

.header-operator .number .number-img {
  position: absolute;
  left: 0;
}

.header-operator .number-dropdown {
  display: inline-block;
}

.header-clock {
  display: flex;
  padding-right: 40px;
  color: #77777b;
}

/* End Header */

/* Nav */
.nav {
  position: relative;
  z-index: 1;
  box-shadow: 4px 5px 20px rgba(0, 0, 0, 0.137);
  background-color: #fff;
  height: 70px;
}

.navigation {
  display: flex;
}

.menu {
  display: flex;
  background: #fff;
  line-height: 1;
}

.nav li a {
  height: 70px;
  color: #424141;
  padding: 0px 14px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: all 0.3s ease;
  font-size: 20px;
  text-decoration: none;
}

.nav li {
  width: 100%;
}

.nav li a:hover {
  color: white;
  background-color: #fde037;
}

.navigation-mob {
  display: none;
}
.header-contact {
  text-align: right;
  color: #77777b;
}
.header-top {
  padding-top: 25px;
  padding-bottom: 25px;
}
.header-phone {
  font-size: 18px;
  margin-bottom: 1px;
}
.header-phone-operator {
  font-size: 15px;
}
a.header-phone-link {
  text-decoration: none;
  border: 0;
}
a.header-phone-link:hover {
  color: #fde037;
}

/* End Nav */

/* Catalog */
.main {
  background-color: #fff;
  padding: 30px 18px 30px;
}

.catalog {
  margin-bottom: 70px;
}

.ns2-h2 {
  padding: 85px 0px 40px 0px;
  font-size: 26px;
  font-weight: 600;
  color: #000;
}
.main-pay {
  margin-top: 60px;
}
.main-pay h1 {
  color: #444962;
}

.main-pay h2 {
  color: #575b71;
}

.main-pay a {
  color: #fde037;
  text-decoration: underline;
  text-decoration-color: #fde037;
}
.main-pay a:hover {
  text-decoration: none;
}

.chainsaw1-row {
  display: flex;
  flex-direction: row;
}
.items-ul {
  margin-bottom: 80px;
}

.bcg-none ul li {
  margin-bottom: 50px;
}
/* .items-ul ul li {
  margin-bottom: 60px;
} */

.main-content .catalog {
  margin-bottom: 100px;
}
.catalog-chain1 {
  margin-top: 60px;
  margin-bottom: 100px;
}

.catalog-chain1 a {
  text-decoration: none;
}

.chain1-sort {
  background-color: #f5f5f5;
  font-size: 21px;
  padding: 20px;
  margin-bottom: 40px;
}
.chain1-sort a {
  text-decoration: none;
}
.sort-items {
  padding-left: 20px;
}
.sort-items span {
  color: #444962;
}
.sort-price {
  color: #444962;
}
.sort-price-p {
  display: inline-block;
  padding-right: 40px;
}
.sort-price span {
  padding: 0px 10px;
  color: black;
  /* margin: 10pxs; */
}

.sort-arrow {
  color: #000000;
  border: 1px solid rgba(255, 255, 255, 0);
  padding: 5px;
  margin-right: 15px;
}
.sort-arrow::after {
  font-size: 12px;
  color: #444962;
  content: "▼";
  padding-left: 8px;
}

.sort-arrow:hover {
  border: 1px solid #444962;
  border-radius: 10px;
}
.sort-page {
  color: #444962;
}
.sort-page a {
  padding: 5px;
  color: black;
  border: 1px solid rgba(255, 255, 255, 0);
  text-decoration: none;
}
.sort-page a:hover {
  border: 1px solid #444962;
  border-radius: 10px;
}
/* .sort-arrow::after {
  font-size: 14px;
  color: #444962;
  content: "▼";
} */

/* .catalog-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
} */

.catalog-items-ns {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  overflow: hidden;
  font-weight: 400;
  box-shadow: 4px 5px 20px rgb(0 0 0 / 14%);
  transition: box-shadow 0.8s ease;
  cursor: pointer;
  color: black;
  margin-bottom: 20px;
  text-decoration: none;
}

.catalog-items-ns-2 {
  padding-right: 80px;
  overflow: hidden;
  font-weight: 400;
  font-size: 22px;
  transition: color 0.2s ease;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.catalog-items-ns:hover {
  box-shadow: inset 0 0 0 3px #fde037;
}

.catalog-items-ns-2:hover {
  color: #fde037;
}

.catalog-items {
  display: block;
  min-height: calc(100% - 36px);
  text-align: center;
  padding: 80px 20px 35px;
  box-shadow: 4px 5px 20px rgb(0 0 0 / 14%);
  margin-bottom: 36px;
  font-weight: 400;
  transition: all 0.8s ease;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.catalog-chain1 .category-card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding: 15px;
  min-height: 120px;
  box-shadow: 4px 5px 20px rgb(0 0 0 / 14%);
  margin-bottom: 36px;
  font-weight: 400;
  transition: all 0.8s ease;
  cursor: pointer;
  color: black;
}

.category-card:hover {
  box-shadow: inset 0 0 0 3px #fde037;
}

.catalog-chain1-txt .h2 {
  text-transform: uppercase;
  padding-bottom: 50px;
}

.catalog-chain1-txt a {
  color: black;
  padding-right: 20px;
}

.catalog-chain1-txt a:nth-child(1) {
  border-right: 1px solid silver;
}
.catalog-chain1-txt a:nth-child(2) {
  padding-left: 20px;
}

.catalog-items a {
  color: black;
}

.catalog-items:hover {
  box-shadow: inset 0 0 0 3px #fde037;
}

.catalog-items-img {
  height: 70px;
  margin-bottom: 10px;
}

.card-item-img {
  height: 50px;
  flex: 0 0 80px;
  padding-right: 15px;
}

.card-item-img img {
  max-height: 50px;
}

.card-tabs {
  margin-bottom: 40px;
}
.catalog-chain1 .category-card .catalog-items-img {
  height: 40px;
  margin-bottom: 10px;
}

.catalog-items-ns .catalog-items-img {
  height: 70px;
  margin: 10px 20px 10px 20px;
}

.catalog-items-img img {
  max-height: 80px;
}

.catalog-items-text {
  line-height: 1;
  font-size: 17px;
  font-weight: 500;
}

.catalog-row .catalog-items-text {
  line-height: normal;
}

.category-catalog {
  line-height: 1;
  padding: 0px 10px;
  font-size: 18px;
  font-weight: 500;
}

.catalog-row .category-catalog {
  line-height: normal;
}

.recommend-list {
  margin-bottom: 65px;
}

.recommend-tabs {
  margin-bottom: 30px;
}

.recommend-tabs a {
  display: inline-block;
  color: #575b71;
  margin-right: 25px;
  margin-bottom: 8px;
  font-size: 24px;
  text-decoration: none;
}

.recommend-tabs a:hover {
  transition: all 0.1s ease;
  border-bottom: 4px solid #fde037;
}

.recommend-tabs-item.selected {
  border-bottom: 4px solid #fde037;
}

.recommend-cards {
  width: 100%;
  /* display: none; */
}

/* .recommend-cards:target {
  display: block;
} */
/* New Recomend */
.item-vendor_code {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.item-subject {
  display: inline-block;
  margin-bottom: 10px;
  text-align: left;
  color: #575b71;
  text-decoration: underline;
}
.item-subject:hover {
  text-decoration: none;
}
.vendor_code-stars i {
  color: rgb(238, 238, 38);
}
.code {
  flex: 0 0 80px;
  font-size: 14px;
  color: #a0a4bc;
}
.item-description {
  margin-bottom: 60px;
  font-size: 16px;
  color: #8184a1;
}
.item-price {
  font-size: 24px;
  font-weight: 800;
  color: #000;
}
.item-price span {
  padding-right: 8px;
  font-size: 14px;
  font-weight: 400;
  color: #8184a1;
}
.item-available i {
  color: green;
}
.available-text {
  padding-bottom: 10px;
}
.item-unavailable i {
  color: red;
}
.item-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* End new recomend */
/* Style for new button */
.ui-btn-new i {
  color: #6e6f72;
  padding-right: 10px;
}
.item-bar-a {
  display: inline-block;
  width: 30px;
  height: 35px;
  border: 1px solid #dee0ee;
  padding: 6px 5px;
  margin-right: 5px;
  border-radius: 4px;
  text-align: center;
}
.item-bar-a:hover {
  border: 1px solid #575b71;
  background: #575b71;
}
.item-bar-a i {
  color: #dee0ee;
}

/* End style for new button */
.recommend-item {
  border: 1px solid #e8e8e8;
  margin-bottom: 38px;
  padding: 45px 20px 40px;
}

.item-img {
  text-align: center;
  height: 160px;
  margin-bottom: 50px;
}

.item-img img {
  max-height: 160px;
}

.item-text {
  font-weight: 400;
  line-height: 1;
  text-align: left;
  font-size: 14px;
  margin-bottom: 29px;
  height: 71px;
  overflow: hidden;
}
.item-text a {
  color: #515568;
  text-decoration: none;
}
.item-text a:hover {
  text-decoration: underline;
}

.item-add-text {
  font-size: 13px;
  color: #515568;
}
/* 
.item-price {
  margin-right: auto;
  font-weight: 800;
  font-size: 35px;
  opacity: 0.8;
  text-align: start;
  color: #515568;
}

.item-price span {
  font-weight: 900;
  font-size: 14px;
  opacity: 0.8;
  margin-left: 10px;
} */

.item-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.item-add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 75px;
  border: 2px solid #dee0ee;
  margin-right: 0;
  margin-left: auto;
  margin-bottom: 10px;

  /* border-radius: 20px; */
}

.btn-minus {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: #9fa3a7;
}
.btn-minus::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 2px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1px;
  background-color: #9fa3a7;
}

.btn-plus {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: #9fa3a7;
}

.btn-plus::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 2px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1px;
  background-color: #9fa3a7;
}

.btn-plus::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 2px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  border-radius: 1px;
  background-color: #9fa3a7;
}

.item-add-button button {
  background-color: #dee0ee;
  border: none;
  font-size: 10px;
  width: 35%;
  height: 22px;
}
.item-add-button button:hover {
  background-color: #575b71;
}

.item-add-button .input:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.item-button {
  height: 45px;
  width: 150px;
  background-color: #f1c731;
  color: white;
  border-radius: 20px;
  border: none;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.2s;
}

.item-button a {
  color: #fff;
}

.item-button:hover {
  transform: scale(1.1);
  color: #fff;
}

/* End Catalog */

/* Contact */

.contact-parts {
  margin-bottom: 80px;
}

.contact-parts-div {
  margin-bottom: 50px;
  /* text-transform: uppercase; */
  color: #575b71;
}

.callback .contact-parts-div {
  text-transform: uppercase;
}

.contact-map-img {
  max-width: 900px;
}

.contact-map-img img {
  width: 900px;
}

.contact-parts-div .h4 {
  text-transform: uppercase;
  margin-bottom: 45px;
  color: #575b71;
}

.contact-txt {
  margin-bottom: 35px;
}
.contact-tel {
  margin-bottom: 35px;
}
.clock-content i {
  color: #cc9900;
}
.contact-number {
  color: #c29a0d;
  border-bottom: 1px solid #c29a0d;
}

.contact-btn {
  display: flex;
  align-items: center;
  height: 45px;
  line-height: 1;
  padding: 0px 20px;
  white-space: normal;
  width: 62%;
  margin-bottom: 78px;
}
.ui-btn.contact-btn:hover {
  color: #fff;
}

.contact-input-group input {
  height: 55px;
  width: 49%;
  border: 1px solid #8e909d;
  border-radius: 20px;
  padding: 19px;
  margin-bottom: 15px;
}
.contact-message {
  height: 105px;
  width: 100%;
  border-radius: 25px;
  border-color: #8e909d;
  padding: 19px;
  resize: none;
  margin-bottom: 10px;
}

.btn {
  width: 100%;
  text-align: right;
}

/* End contact */

/* Footer */
.footer {
  background-color: #484a57;
  color: white;
}

.footer ul {
  padding: 0;
}
.footer-info {
  background-color: #484a57;
  padding-top: 20px;
  font-size: 18px;
  margin-bottom: 20px;
}

.pay-css {
  text-align: end;
  white-space: nowrap;
}

.footer ul {
  list-style-type: none;
  /* margin: 0px 20px; */
}
.footer a {
  text-decoration: none;
  color: black;
}
.footer-buy ul li:first-child {
  padding-bottom: 30px;
}

.footer-menu {
  margin-bottom: 30px;
}
.footer-menu a {
  color: white;
}
.footer-menu a:hover {
  text-decoration: underline;
}
.footer-menu-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 1.25;
}

.footer-bottom {
  padding: 10px 0;
  background-color: #393c4c;
  color: #b9b9b9;
  font-size: 14px;
}

.footer-address-text {
  line-height: 1;
  padding: 5px 0px;
}

.footer-address-text a {
  color: #bb9515;
}

.info-adress {
  display: inline-block;
  margin-right: 70px;
  max-width: 369px;
}

.footer-img {
  /* display: inline-block;
  height: 56px;
  width: 90px;
  position: relative; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer-img img {
  max-height: 56px;
  padding: 5px;
  /* max-width: 90px; */
  /* position: absolute;
  top: 25%;
  left: 0; */
}
.footer-row {
  position: relative;
}

.main-info h2 {
  color: #3c3f4d;
}
.main-info a {
  color: #000;
}

.main-info p a {
  text-decoration-color: #000000;
  color: #000000;
}
.main-info li {
  padding: 10px 0;
}
.main-info li a {
  color: #c29a0d;
}
.main-info li:hover {
  color: #f5c311;
}
/* Chainsaw-parts */

.chainsaw-parts-img {
  height: 310px;
}
.chainsaw-parts-img img {
  max-height: 310px;
}
.chainsaw-parts-ul li {
  margin-bottom: 20px;
  text-decoration: underline;
}
.chainsaw-parts-ul a {
  color: black;
}
.chainsaw-parts-ul li a:hover {
  color: #f1c731;
}

.chainsaw-parts-h2 {
  color: #444962;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.chainsaw-parts-h3 {
  color: #575b71;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-weight: bold;
}

@media (min-width: 992px) {
  .right-part {
    padding-top: 66px;
  }
}

.main-slick {
  margin-bottom: 36px;
}
@media (max-width: 480px) {
  .main-slick {
    margin-left: -18px;
    margin-right: -18px;
  }
}
.main-slick-slide {
  line-height: 0;
}
.main-slick-slide img {
  display: block;
}
.slick-arrow {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 50%;
  margin-top: -24px;
  background: #fde037;
  border-radius: 50%;
  font-size: 0;
  border: 0;
  opacity: 0.25;
  z-index: 9;
  cursor: pointer;
  transition: opacity 0.2s;
}
.slick-slider:hover .slick-arrow {
  opacity: 0.65;
}
.slick-arrow:hover,
.slick-slider:hover .slick-arrow:hover {
  opacity: 1;
}
.slick-arrow.slick-disabled {
  opacity: 0.4 !important;
  cursor: not-allowed;
}
.slick-prev {
  left: 18px;
}
.slick-next {
  right: 18px;
}
.slick-arrow:after {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  line-height: 48px;
  color: #fff;
  font-size: 18px;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
}
.slick-prev:after {
  content: "\f060";
}
.slick-next:after {
  content: "\f061";
}
.slick-dots {
  position: absolute;
  left: 18px;
  right: 18px;
  bottom: 13px;
  text-align: center;
  opacity: 0.25;
}
.ui-slick:hover .slick-dots {
  opacity: 0.75;
}
.slick-dots li {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 3px 5px;
}
.slick-dots button {
  height: 24px;
  min-width: 24px;
  padding: 0px 3px;
  line-height: 24px;
  border: 0;
  border-radius: 12px;
  font-size: 12px;
  color: #fff;
  background: #fde037;
  opacity: 0.75;
  cursor: pointer;
}
.slick-dots button:hover {
  opacity: 1;
}
.slick-dots .slick-active button {
  background: #fed909;
  color: #000;
  font-weight: 700;
}

.main-grid {
  margin-bottom: 30px;
}
.grid-card {
  display: block;
  position: relative;
  margin-bottom: 36px;
  overflow: hidden;
  height: 250px;
}
.grid-card-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s;
  will-change: transform;
}
.grid-card-title {
  position: absolute;
  left: 25px;
  bottom: 25px;
  right: 15px;
  z-index: 1;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 600;
}
.grid-card:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 35%;
  opacity: 0.8;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.95));
  transition: opacity 0.3s;
}
.grid-card:hover .grid-card-img img {
  transform: translate3d(-50%, -50%, 0) scale(1.05);
}
.grid-card:hover:after {
  opacity: 1;
}

.bord-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid gray;
  min-height: 100%;
}
.bord-logo img {
  display: block;
}

.perf-bord {
  margin-bottom: 80px;
}
.perf-list-info {
  text-align: left;
  color: #7f7f7f;
}
.perf-list {
  text-align: center;
  padding: 50px 50px 50px 50px;
  box-shadow: rgba(0, 0, 0, 0.14) 4px 5px 20px;
}

.perf-list-info div {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.perf-list-info img {
  padding-right: 10px;
}
.perf-list-price {
  color: #575b71;
  padding-bottom: 20px;
  font-size: 22px;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
}

.perf-info {
  margin-top: 60px;
}
.perf-info p {
  /* padding-top: 35px; */
  /* padding-bottom: 30px; */
  margin-bottom: 35px;
}
.perf-info p:last-child {
  padding-top: 10px;
}

.perf-info ul {
  margin-bottom: 30px;
}

.perf-head .h2 {
  text-transform: uppercase;
  color: #444962;
  padding-bottom: 45px;
}

.perf-list-input {
  margin: 0 auto;
}

.perf-list-input input::placeholder {
  color: #bebebe;
}

.perf-list-input input {
  height: 40px;
  width: 70%;
  margin-bottom: 10px;
  border: 2px solid #ededed;
  opacity: 0.7;
  border-radius: 10px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}
.perf-list-contact a {
  color: #7f7f7f;
  text-decoration: none;
  padding-right: 10px;
}
.perf-list-contact a:hover {
  text-decoration: underline;
}
.ui-breadcrumbs h2 {
  margin-top: 0;
}
/* End perfarator-info  */
/* start card item  */
.list-item {
  text-align: left;
  font-size: 26px;
  color: #575b71;
}
.list-item span {
  font-size: 20px;
}

.item-info-txt {
  color: #575b71;
}

.item-info-art {
  color: #7f7f7f;
}
.perf-list-inner {
  max-width: 320px;
  margin: 0 auto;
}
.perf-list-buy {
  min-height: 100%;
  padding: 85px 15px;
  box-shadow: rgba(0, 0, 0, 0.14) 4px 5px 20px;
}
.list-buy-item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  align-items: baseline;
}

.list-buy-item a {
  width: 50%;
  margin: 0px 1px;
  padding: 0px 5px;
}
.score img {
  background-color: yellow;
}
/* STARTS */
.rating-mini {
  display: inline-block;
  font-size: 0;
}
.rating-mini span {
  padding: 0;
  font-size: 30px;
  line-height: 1;
  color: lightgrey;
}
.rating-mini > span:before {
  content: "★";
}
.rating-mini > span.active {
  color: gold;
}

/* END STARS */
/* End Footer */
/* Sidebar */
.fixed-links {
  position: fixed;
  box-shadow: 0px 0px 12px rgb(0 0 0 / 36%);
  background: #fde037;
  top: 25%;
  right: 0%;
  width: 45px;
  height: auto;
  z-index: 999;
}
.fixed-links a:last-child {
  border: none;
}
.fixed-links a {
  text-decoration: none;
}
.fixed-links-card {
  display: block;
  width: 45px;
  height: auto;
  padding: 14px 0px 10px 0px;
  /* display: table-cell; */
  vertical-align: middle;
  margin: 0px;
  border-bottom: 1px solid #fff46b;
  transition: 0.3s ease;
}
.fixed-links-card:hover {
  background: #9256017c;
  color: #fff;
}
.fixed-links-card:hover i {
  color: #fff;
}
.fixed-links-card i {
  font-size: 30px;
  color: #bea201;
  display: table;
  margin: 0px auto;
  padding: 0px;
}

.fixed-links-card .circle {
  height: auto;
  display: table;
  margin: 0px auto;
  padding: 8px 0px 0px 0px;
}

.circle-bcg {
  height: 24px;
  display: block;
  margin: 0px;
  padding: 0px 8px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  line-height: 24px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
  background: #575b71;
}
.chart-bcg {
  background: #9b9db9;
}
.heart-bcg {
  background: #fff;
  color: #000000;
}

/* End Sidebar */
.item-add-button input {
  height: 100%;
  width: 23px;
  border: none;
  text-align: center;
  padding: 0;
}

.header-mob {
  display: none;
}
/* Burger style */
.row-mob {
  display: none;
}

.icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.mob-img {
  max-height: 50px;
  max-width: 160px;
}

.hamburger {
  width: 30px;
  height: 3px;
  transform: translate(-50%, -50%);
  background: #fde037;
  transition: 0.5s;
  display: inline-block;
  vertical-align: middle;
  margin-left: 18px;
}

.hamburger:after,
.hamburger:before {
  content: "";
  width: 30px;
  height: 3px;
  position: absolute;
  background: #fde037;
}

.hamburger:before {
  top: -10px;
}
.hamburger:after {
  top: 10px;
}
.icon.active .hamburger {
  background: rgba(107, 106, 106, 0.315);
}

.icon.active .hamburger:before {
  background: rgba(107, 106, 106, 0.315);
}

.icon.active .hamburger:after {
  background: rgba(107, 106, 106, 0.315);
}

/* End Burger style */

/* @Media */
@media (max-width: 1600px) {
  .catalog-items-text {
    font-size: 17px;
  }
}

@media (max-width: 1540px) {
  .catalog-items-text {
    font-size: 16px;
  }
  .catalog-chain1 .catalog-items-text {
    font-size: 20px;
  }
}

@media (max-width: 1460px) {
  .container {
    max-width: 1200px;
  }

  .header-operator .number {
    font-size: 20px;
    padding-left: 0;
  }
  .clock-contet-img {
    display: none;
  }
  .clock-content {
    padding-left: 0;
  }
  .number-img {
    display: none;
  }

  .catalog-items-text {
    line-height: 1;
  }
  .form-serach form {
    position: relative;
    width: 100%;
  }

  .footer-buy {
    padding-right: 30px;
  }
  .footer-info {
    width: 100%;
    background-color: #484a57;
    padding-top: 20px;
    font-size: 15px;
    margin-bottom: 20px;
  }

  .card-item-img {
    flex: 0 0 65px;
  }

  /* card-item */
  .perf-bord {
    flex-direction: column;
    align-items: center;
  }
  .bord-logo {
    margin-bottom: 20px;
  }
  /* End card-item */
  /* Chainsaw-part */
  .chainsaw-parts-img {
    order: 1;
  }
  .chainsaw-parts-ul {
    order: 2;
  }
  /* End Chainsaw-part */

  .sort-price,
  .sort-items,
  .sort-page {
    font-size: 15px;
  }

  .catalog-chain1 .catalog-items-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 1180px) {
  .catalog-items-text {
    line-height: 1;
    font-size: 15px;
  }
  .catalog-chain1 .catalog-items-text {
    font-size: 15px;
  }
  .footer-buy {
    padding-right: 20px;
  }

  .header-operator {
    padding-left: 20px;
  }
  .header-clock {
    padding-right: 20px;
    font-size: 19px;
    margin-bottom: 20px;
  }
  .header-address-text img {
    display: none;
  }
  .header-address-search {
    font-size: 19px;
  }

  .footer-img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .pay-css {
    display: none;
  }
}

@media (max-width: 1170px) {
  .bord-logo {
    min-height: 0;
  }
  .perf-list-buy {
    padding: 35px 15px;
  }
}

[class*="col-"] {
  width: 100%;
  padding-left: 18px;
  padding-right: 18px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  display: -ms-flex;
  display: -ms-inline-flexbox;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -18px;
  margin-right: -18px;
}
.valign-center {
  -ms-align-items: center;
  align-items: center;
}

.chain1-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  display: -ms-flex;
  display: -ms-inline-flexbox;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.chainsaw-parts-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  display: -ms-flex;
  display: -ms-inline-flexbox;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-1 {
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 400px) {
  .col-us-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-us-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-us-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-us-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-us-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-us-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-us-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-us-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-us-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-us-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-us-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-us-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .col-xs-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xs-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xs-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xs-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xs-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xs-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xs-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xs-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xs-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xs-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xs-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xs-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-sm-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-sm-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .col-md-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 992px) {
  .left-part {
    order: 2;
  }

  .right-part {
    order: 1;
  }
}

@media (min-width: 1170px) {
  .col-lg-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1330px) {
  .col-l-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-l-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-l-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-l-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-l-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-l-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-l-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-l-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-l-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-l-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-l-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-l-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1500px) {
  /* 10-coloumn */
  .col-xl-10 {
    flex: 0 0 10%;
    max-width: 10%;
  }
  .col-xl-20 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .col-xl-30 {
    flex: 0 0 30%;
    max-width: 30%;
  }
  .col-xl-40 {
    flex: 0 0 40%;
    max-width: 40%;
  }
  .col-xl-50 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-60 {
    flex: 0 0 60%;
    max-width: 60%;
  }
  .col-xl-70 {
    flex: 0 0 70%;
    max-width: 70%;
  }
  .col-xl-80 {
    flex: 0 0 80%;
    max-width: 80%;
  }
  .col-xl-90 {
    flex: 0 0 90%;
    max-width: 90%;
  }
  .col-xl-100 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.wrapper {
  padding-right: 18px;
  padding-left: 18px;
}

@media (max-width: 1500px) {
  .header-clock {
    padding-right: 0;
  }
  .clock-content {
    margin-bottom: 20px;
  }
  .contact-btn {
    margin-bottom: 25px;
  }
  .header-clock iframe {
    width: 100%;
  }
}

@media (max-width: 1170px) {
  .footer-menu-title.ui-righted {
    text-align: left;
  }
} /* 1170px */

@media (max-width: 1024px) {
  .header-top {
    padding-top: 0;
    padding-bottom: 0;
  }
  .nav .wrapper {
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
  .container {
    max-width: 100%;
  }

  .header-mob-logo {
    max-width: 150px;
  }

  .row-mob {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 18px;
    padding-right: 18px;
  }
  .form-serach input {
    border-radius: initial;
    box-shadow: 4px 5px 20px rgba(0, 0, 0, 0.137);
  }
  .nav li {
    border-bottom: 1px solid rgba(207, 203, 203, 0.281);
  }
  .nav li a {
    height: 50px;
    font-size: 20px;
    justify-content: left;
  }

  .header-content {
    padding: 0;
  }
  .header-logo,
  .header-contact,
  .header-address-search {
    display: none;
  }
  .menu {
    display: none;
    box-shadow: 4px 5px 20px rgba(0, 0, 0, 0.137);
  }
  .menu-mob {
    display: flex;
  }
  .menu-toggle {
    display: block;
  }

  .recommend-tabs a {
    font-size: 20px;
  }
  .items-ul ul li a {
    font-size: 20px;
  }
  .category-catalog {
    font-size: 22px;
  }

  .chain1-row {
    flex-direction: column;
  }
  .sort-items {
    padding-left: 0px;
  }
  .sort-price-p {
    padding-right: 0px;
  }

  .catalog-chain1 {
    margin-bottom: 30px;
  }

  header.header {
    position: relative;
  }
  .form-serach {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    visibility: hidden;
    opacity: 0;
  }
  .form-serach.visible {
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 970px) {
  .h3 {
    font-size: 18px;
  }

  .row-footer {
    justify-content: space-between;
  }
}

@media (max-width: 992px) {
  .footer-menu-title {
    font-size: 18px;
    line-height: 1.1;
  }
  .footer-menu-title.ui-righted {
    text-align: left;
  }
  .main-pay,
  .catalog-chain1,
  .perf-info,
  .recommend {
    margin-top: 0px;
  }

  .ns2-h2 {
    padding-top: 0px;
  }

  .catalog-chain1 .category-card {
    min-height: 80px;
    margin-bottom: 18px;
    padding: 10px 15px;
  }
  .category-catalog {
    font-size: 17px;
  }
  .recommend-tabs {
    margin-bottom: 30px;
  }
} /* 992px */

@media (max-width: 767px) {
  .catalog-items-text .chain-catalog {
    display: flex;
  }
  .card-item-img {
    flex: 0 0 55px;
  }
  .items-ul ul li a {
    font-size: 18px;
  }
  .bcg-none ul li {
    margin-bottom: 15px;
  }
  .card-item-img {
    padding-right: 0px;
  }
  .catalog-items {
    padding: 30px 15px;
  }
}

@media (max-width: 576px) {
  .items-ul ul li a {
    font-size: 16px;
  }
  .recommend-item {
    margin-bottom: 15px;
    padding: 15px;
  }
  .item-img {
    margin-bottom: 20px;
  }
  .item-text {
    height: auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  footer.footer .wrapper {
    padding-left: 18px;
    padding-right: 18px;
  }
  .catalog-items-ns {
    padding: 10px 15px;
    margin-bottom: 8px;
  }
  .card-item-img {
    flex: 0 0 45px;
    max-width: 45px;
    height: 45px;
    margin-right: 15px;
  }
  .card-item-img img {
    max-height: 45px;
  }
  .catalog-items {
    margin-bottom: 18px;
    min-height: 0;
  }
  .perf-list {
    padding: 35px 15px;
  }
  .perf-list-input input {
    width: 100%;
  }
} /*-- 480 -- */

@media (max-width: 420px) {
  .header-mob-logo {
    max-width: 120px;
  }
  .header-mob-pin {
    display: none;
  }
  .header-mob-phone {
    min-width: 22%;
    text-align: right;
  }
} /*-- 420 -- */

@media (max-width: 398px) {
  .catalog-items-text {
    display: block;
  }
  .mob-img {
    max-width: 130px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .menuToggle-search {
    margin-left: 20px;
  }
}

@media (max-width: 328px) {
  .mob-img {
    max-width: 130px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .menuToggle-search {
    margin-left: 20px;
  }

  .header-mob-pin {
    display: none;
  }
}
