* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #f4f5fd;
  /* font-family: "Axiforma"; */
}

body {
  display: flex;
  flex-direction: column;
}

h1,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

.content {
  flex: 1 0 auto;
}

.wrapper {
  width: 100%;
  max-width: 1816px;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1381px;
  margin: 0 auto;
}

/* Header */
.header {
  height: 153px;
  margin-top: 24px;
}

.header a {
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img {
  max-width: 100%;
}

.header .col-12 {
  height: 50%;
}

.header-place input {
  border: 0px;
  border-radius: 55px;
  height: 60px;
}

.header-place a {
  color: #c29a0d;
  text-decoration: none;
  border-bottom: 1px solid #c29a0d;
}

.header-contact a {
  color: #c29a0d;
  text-decoration: none;
  border-bottom: 1px solid #c29a0d;
}

.header-place input::placeholder {
  padding-left: 25px;
}

.header-location {
  /* display: flex; */
}

.header-address {
  display: flex;
  align-items: center;
}

.header-address img {
  width: 24px;
  height: 34px;
}

.header-address img:nth-of-type(2) {
  margin-left: 20px;
}

.header-address-text {
  line-height: 1;
}

.header-input {
  width: 70%;
}

.header-operator p {
  display: inline-block;
}

/* End Header */

/* Nav */
.nav {
  background-color: #fff;
  height: 70px;
}

.navigation {
  height: 100%;
  display: flex;
  align-items: center;
}

.li {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 11.11%;
  height: 100%;
}

.li:hover {
  color: white;
  background-color: #fde037;
}

/* End Nav */
