* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #f4f5fd;
  /* font-family: "Axiforma"; */
}

body {
  display: flex;
  flex-direction: column;
}

h1,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.content {
  flex: 1 0 auto;
}

.wrapper {
  width: 100%;
  max-width: 1816px;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1381px;
  margin: 0 auto;
}

/* Header */
.header {
  height: 153px;
  margin-top: 24px;
  font-family: "Axiforma";
  font-weight: thin;
}

.header a {
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img {
  max-width: 100%;
}

.header .col-12 {
  height: 50%;
}

.header-place input {
  border: 0px;
  border-radius: 55px;
  height: 60px;
}

.header-place a {
  color: #c29a0d;
  text-decoration: none;
  border-bottom: 1px solid #c29a0d;
}

.header-contact a {
  color: #c29a0d;
  text-decoration: none;
  border-bottom: 1px solid #c29a0d;
}

.header-place input::placeholder {
  padding-left: 25px;
}

.header-location {
  /* display: flex; */
}

.header-address {
  display: flex;
  align-items: center;
}

.header-address img {
  width: 24px;
  height: 34px;
}

.header-address img:nth-of-type(2) {
  margin-left: 20px;
}

.header-address-text {
  line-height: 1;
}

.header-input {
  width: 70%;
}

.header-operator p {
  display: inline-block;
}

/* End Header */

/* Nav */
.nav {
  background-color: #fff;
  height: 70px;
}

.navigation {
  height: 100%;
  display: flex;
  align-items: center;
}

.li {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 11.11%;
  height: 100%;
}

.li:hover {
  color: white;
  background-color: #fde037;
}

/* End Nav */

/* Catalog */
.main {
  background-color: #fff;
}

.catalog {
  margin-bottom: 100px;
}

.catalog-h2 {
  font-size: 26px;
  font-weight: 600;
  font-family: "Axiforma";
  padding: 90px 0px 50px 0px;
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.catalog-items {
  height: 247px;
  width: 247px;
  box-shadow: 4px 5px 20px rgba(0, 0, 0, 0.137);
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  font-family: "Axiforma", "Medium";
  font-weight: 400;
}

.catalog-items img {
  margin-top: 50px;
  margin-bottom: 10px;
}

.recommend-list {
  font-family: "Axiforma";
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 80px;
}

.recommend-list a {
  color: #575b71;
  padding-right: 25px;
}

.recommend-list a:hover {
  border-bottom: 4px solid #fde037;
}

.recommend-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.recommend-item {
  height: 520px;
  width: 247px;
  border: 1px solid #e8e8e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 40px 0px;
}

.item-button {
  height: 45px;
  width: 150px;
  background-color: #f1c731;
  color: white;
  border-radius: 20px;
  border: none;
  text-align: center;
}
/* End Catalog */

/* Footer */
.footer {
  background-color: #484a57;
  color: white;
  /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
}

.footer ul {
  padding: 0;
}
.footer-info {
  width: 100%;
  display: table;
  /* display: flex; */
  /* justify-content: space-around; */
  background-color: #484a57;
  height: 270px;
  padding-top: 35px;
}
.footer-buy {
  display: table-cell;
  /* align-items: center; */
}
.footer ul {
  list-style-type: none;
}
.footer a {
  text-decoration: none;
  color: black;
}
.footer-buy ul li:first-child {
  padding-bottom: 30px;
}
.footer-buy ul li a {
  color: white;
}
.footer-info-more {
  padding: 10px 0;
  display: flex;
  background-color: #393c4c;
  width: 100%;
}
.info-adress {
  max-width: 369px;
}
.col {
  width: 20%;
}
/* End Footer */
